<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubuCore" version="0.9.9.204" targetFramework="net40" />
  <package id="FubuTestingSupport" version="0.9.9.204" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RhinoMocks" version="3.6" />
  <package id="structuremap" version="2.6.3" />
  <package id="structuremap.automocking" version="2.6.3" />
</packages>