push.bat
TestResult.xml
build
build35
artifacts
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
~$*
*.userprefs
*.pidb
test-results
src/packages
results
*DotSettings.user
Gemfile.lock
