<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>htmltags</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Mode>Ripple</Mode>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" />
  </Feeds>
  <Nugets>
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" Stability="Anything" />
    <Dependency Name="RhinoMocks" Version="3.6" Mode="Fixed" Stability="Anything" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" Stability="Anything" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" Stability="Anything" />
  </Nugets>
</ripple>